.promo {
  position: relative;
  background-image: url("../img/no-retina/mobile/index/back-mobile-no-retina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -66px;

  &::after {
    content: "";
    background-image: url("../img/no-retina/mobile/index/screen-nav-mobile-no-retina.jpg");
    background-repeat: no-repeat;
    background-size: 111px 197px;
    position: absolute;
    width: 111px;
    height: 197px;
    left: 104px;
    bottom: 56px;
  }

  &::before {
    content: "";
    background-image: url("../img/no-retina/mobile/index/phone-mobile-no-retina.png");
    background-repeat: no-repeat;
    background-size: 320px 286px;
    position: absolute;
    width: 320px;
    height: 286px;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/retina/mobile/index/back-mobile-retina.jpg");

    &::after {
      background-image: url("../img/retina/mobile/index/screen-nav-mobile-retina.jpg");
    }

    &::before {
      background-image: url("../img/retina/mobile/index/phone-mobile-retina.png");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/no-retina/tablet/index/back-tablet-no-retina.jpg");
    background-size: cover;
    margin-top: -110px;
    min-height: 729px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    &::after {
      background-image: url("../img/no-retina/tablet/index/screen-nav-tablet-no-retina.jpg");
      background-size: 195px 346px;
      width: 195px;
      height: 346px;
      left: 371px;
      bottom: 146px;
    }

    &::before {
      background-image: url("../img/no-retina/tablet/index/phone-tablet-no-retina.png");
      background-size: 660px 545px;
      width: 660px;
      height: 545px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/tablet/index/back-tablet-retina.jpg");

      &::after {
        background-image: url("../img/retina/tablet/index/screen-nav-tablet-retina.jpg");
      }

      &::before {
        background-image: url("../img/retina/tablet/index/phone-tablet-retina.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/no-retina/desktop/index/back-desktop-no-retina.jpg");
    background-size: cover;
    min-height: 853px;
    padding-left: 130px;

    &::after {
      background-image: url("../img/no-retina/desktop/index/screen-nav-desktop-no-retina.jpg");
      background-size: 230px 408px;
      width: 230px;
      height: 408px;
      left: 720px;
      bottom: 172px;
    }

    &::before {
      background-image: url("../img/no-retina/desktop/index/phone-desktop-no-retina.png");
      background-size: 1050px 645px;
      width: 1050px;
      height: 645px;
      left: auto;
      right: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/back-desktop-retina.jpg");

      &::after {
        background-image: url("../img/retina/desktop/index/screen-nav-desktop-retina.jpg");
      }

      &::before {
        background-image: url("../img/retina/desktop/index/phone-desktop-retina.png");
      }
    }
  }
}

.promo__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  display: block;
  height: 367px;
  position: relative;
  padding-top: 95px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 40px;
    line-height: 48px;
    padding-top: 212px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    justify-self: left;
  }
}

.promo__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
