.promo {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -66px;

  &::after {
    content: "";
    background-image: url("../img/screen-nav.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 111px;
    height: 197px;
    left: 104px;
    bottom: 56px;
  }

  &::before {
    content: "";
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 320px;
    height: 286px;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-nav-tablet.jpg");
    margin-top: -110px;
    min-height: 729px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    &::after {
      background-image: url("../img/screen-nav-tablet.jpg");
      width: 195px;
      height: 346px;
      left: 371px;
      bottom: 146px;
    }

    &::before {
      background-image: url("../img/iphone-nav-tablet.png");
      width: 660px;
      height: 545px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 853px;
    padding-left: 130px;

    &::after {
      background-image: url("../img/screen-nav-desktop.jpg");
      width: 230px;
      height: 408px;
      left: 720px;
      bottom: 172px;
    }

    &::before {
      background-image: url("../img/iphone-desktop.png");
      width: 1050px;
      height: 645px;
      left: auto;
      right: 0;
    }
  }
}

.promo__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  display: block;
  height: 367px;
  position: relative;
  padding-top: 95px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 40px;
    line-height: 48px;
    padding-top: 212px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    justify-self: left;
  }
}

.promo__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
