.form-email-phone__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form-email-phone__field {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-email-phone {
  border: none;
}
