.form-chcoice-os {
  padding-top: 0;
  padding-bottom: 42px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    order: 2;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 55px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form-chcoice-os__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 40px;
  display: block;
  background-color: #f2f2f2;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    padding-top: 0;
    width: 368px;
    margin-bottom: 45px;
  }
}

.form-chcoice-os__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-chcoice-os__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.form-chcoice-os__item:not(:last-child) {
  margin-bottom: 46px;
}

.form-chcoice-os__item {
  padding-left: 63px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;
  }
}

.form-chcoice-os__control-mark {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 72px;
  }
}

.form-chcoice-os__input:checked + .form-chcoice-os__control-mark::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d22856;
  top: 11px;
  left: 11px;
}
