.form-achievements__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}

.form-achievements__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-achievements__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-achievements {
  border: none;
  background-color: #f2f2f2;
}
