.form-emotions {
  border: none;
  margin-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    order: 5;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.form-emotions__ttitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  display: block;
  margin-bottom: 22px;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    width: 260px;
    padding-top: 0;
  }
}

.form-emotions__field {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  min-width: 276px;
  min-height: 197px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    min-width: 496px;
    min-height: 189px;
  }
}
