.form-email-phone {
  padding-top: 39px;
  padding-bottom: 44px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    order: 3;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 65px;
    padding-top: 28px;
    padding-bottom: 18px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    padding-bottom: 0;
    padding-top: 21px;
  }
}

.form-email-phone__label {
  padding-left: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  color: #d22856;
  margin-bottom: 17px;
}

.form-email-phone__field {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 276px;
  padding: 23px 0 23px 20px;
  height: 59px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 22px;
    min-width: 496px;
  }

  @media (min-width: $desktop-width) {
    min-width: 371px;

    &:first-child {
      margin-right: 74px;
    }
  }
}

.form-email-phone__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.form-email-phone__element:first-of-type {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 59px;
      height: 59px;
      left: 437px;
      top: 0;
      background-image: url("../img/phone-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
    margin-bottom: 0;

    &::before {
      left: 312px;
    }
  }
}

.form-email-phone__element:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      width: 59px;
      height: 59px;
      left: 437px;
      top: 0;
      background-image: url("../img/mail-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      left: 312px;
    }
  }
}

.form-email-phone__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    width: 260px;
    text-align: center;
  }
}

.form-email-phone__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
