.main-catalog__title {
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin: 0;
  margin-top: -66px;
  min-height: 237px;
  padding: 102px 74px 0 74px;
  box-sizing: border-box;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-nav-tablet.jpg");
    margin-top: -110px;
    min-height: 440px;
    min-width: 660px;
    padding-top: 191px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 394px;
  }
}

.main-catalog__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding-top: 54px;
  padding-bottom: 60px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  &--after-photo-list {
    padding-top: 49px;
    padding-bottom: 52px;
  }
}
