.effect__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.effect__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}
