.effect {
  display: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
    padding-bottom: 67px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.effect__wraper {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: -96px;
    width: 527px;
  }
}

.effect__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 44px 0 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 69px;
  }
}

.effect__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 8px 0 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
  }
}

.effect__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
  margin-top: 6px;
  display: block;

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    font-size: 18px;
  }
}

.effect__text-number {
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  width: 238px;
  height: 276px;
  font-weight: bold;
  color: #d22856;
  font-size: 96px;
  line-height: 75px;
  background-image: url("../img/diagram-fill.svg"), url("../img/timer.svg");
  background-repeat: no-repeat;
  background-position: 18px 56px, center;
  padding-top: 116px;
  box-sizing: border-box;
  margin-left: 19px;

  @media (min-width: $desktop-width) {
    font-size: 120px;
    width: 298px;
    height: 345px;
    background-position: 23px 70px, center;
    background-size: 252px 252px, 298px 345px;
    padding: 154px 0 0 0;
    margin: -25px 0 0 0;
  }
}

.effect__title br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
