.effect {
  display: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    background: #f2f2f2;
    padding-bottom: 67px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.effect__wraper {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    text-align: left;
  }
}

.effect__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.effect__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}

.effect__text-number {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    width: 238px;
    height: 276px;
    font-weight: bold;
    color: #d22856;
    font-size: 96px;
    line-height: 75px;
    background-image: url("../img/diagram-fill.svg"), url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position: 18px 56px, center;
    padding-top: 116px;
    box-sizing: border-box;
  }
}
