.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  margin-right: 15px;
}

.copyright__logo {
  fill: #d22856;
}

.copyright__link {
  &:hover .copyright__logo {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__logo {
    fill: #283645;
  }
}
