.download-app {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    justify-self: baseline;
  }
}

.download-app__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 18px 39px;
  display: inline-block;
  margin-top: 29px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 21px;
    margin-top: 0;
    padding: 15px 39px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.download-app__info-text {
  width: 280px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
    margin: 27px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.download-app__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
  }
}

.download-app__item:not(:last-child) {
  margin-right: 35px;
}
