.navigation {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
    padding-top: 27px;
    padding-bottom: 43px;
    min-height: 110px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    display: block;
    margin: 0;
  }
}

.navigation__logo {
  &--text {
    fill: #ffffff;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      fill: #ffffff;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      fill: #ffffff;
    }
  }
}

.navigation__link-logo {
  z-index: 2;
  display: block;
  margin-right: 100px;

  &:hover .page-header__logo {
    fill: #d22856;
  }

  &:active .page-header__logo {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.navigation--closed .navigation__toggle {
  width: 50px;
  height: 24px;
  background-color: inherit;
  position: relative;
  border: none;


  &::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  }

  &:active::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3);
  }
}

.navigation--opened .navigation__toggle,
.navigation--no-js .navigation__toggle {
  width: 23px;
  height: 23px;
  padding: 0;
  background-color: inherit;
  position: relative;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -3px;
    width: 29px;
    height: 3px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      top: 27px;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover::before {
    background-color: #d22856;
  }

  &:active::before {
    background-color: rgba(210, 40, 86, 0.3);
  }

  &:hover::after {
    background-color: #d22856;
  }

  &:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }
}

.navigation--opened + .page-header__list {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.navigation--opened::before,
.navigation--no-js::before {
  content: "";
  width: 100%;
  min-height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgb(255 255 255 / 15%);

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-color: inherit;
  }
}

.navigation--no-js + .page-header__list {
  display: block;
  position: static;
  width: 100%;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 0;
    justify-content: space-between;
    width: auto;
  }
}

.navigation--no-js .navigation__toggle {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.navigation--no-js .navigation__toggle::before,
.navigation--no-js .navigation__toggle::after {
  content: none;
}
