.photo__list {
  margin: 0;
  padding: 0 20px 0 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px 0 130px;
  }
}

.photo__item {
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  @media (min-width: $tablet-width) {
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(odd) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }
}

.photo__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }

  &--day-photo {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $tablet-width) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 506px;
    }
  }
}

.photo__image.photo__image--day-photo {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 506px;
  }
}

.photo__day-photo {
  margin-bottom: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "панорама дня";
    width: 140px;
    min-height: 36px;
    background-color: #d22856;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 9px;
    letter-spacing: 1.2px;
    left: 160px;
    top: 0;
    box-sizing: border-box;
    padding-top: 11px;

    @media (min-width: $tablet-width) {
      left: 500px;
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      left: 930px;
      top: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.photo__item:not(:last-child) {
  margin-bottom: 54px;
}
