.wrapper {
  @media (min-width: $desktop-width) {
    &--for-photo-post {
      padding: 0 130px 0 130px;
      margin-bottom: 56px;
    }

    &--for-buttons {
      display: flex;
    }
  }
}

.wrapper--for-form-achievements {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.wrapper--for-form-chcoice-os {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.wrapper--for-index {
  width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
  z-index: -3;
}

.wrapper--for-promo-and-download-app {
  position: relative;
  background-image: url("../img/no-retina/mobile/index/back-mobile-no-retina.jpg");
  background-color: #1d2631;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: -69px auto 0 auto;
  background-size: 100% 63%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/retina/mobile/index/back-mobile-retina.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/no-retina/tablet/index/back-tablet-no-retina.jpg");
    background-size: cover;
    margin: -110px auto 0 auto;
    min-height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/tablet/index/back-tablet-retina.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/no-retina/desktop/index/back-desktop-no-retina.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/back-desktop-retina.jpg");
    }
  }
}
