.download-app {
  background-color: #1d2631;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 349px;
    background: inherit;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    top: 449px;
    display: block;
    padding-left: 130px;
  }
}

.download-app__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 18px 39px;
  display: inline-block;
  margin-top: 29px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 21px;
    padding: 15px 39px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.download-app__info-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 18px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    margin: 47px 0 0 0;
  }
}

.download-app__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
  }
}

.download-app__item:not(:last-child) {
  margin-right: 35px;
}

.download-app__wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}
