.download-app__promo-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.download-app__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.download-app__info-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.download-app__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.download-app {
  background-color: #1d2631;
}
