.photo-post {
  padding: 20px 20px 0 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    padding: 57px 20px 24px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 60px 18px 80px;
  }
}

.photo-post__button-active {
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #d22856;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 29px;
  width: 280px;
  padding: 18px 90px;
  display: inline-block;
  margin-bottom: 12px;

  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d22856;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 21px 42px;
    height: 55px;
    margin-bottom: 41px;
    margin-right: 44px;
  }
}

.photo-post__button-disabled {
  box-sizing: border-box;
  border-radius: 29px;
  width: 280px;
  padding: 18px 90px;
  display: inline-block;
  border: 3px solid rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  margin-bottom: 35px;

  &:hover {
    border-color: rgba(40, 54, 69, 0.3);
    color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 21px 42px;
    height: 55px;
  }
}

.photo-post__list {
  margin: 0 auto 39px auto;
  padding: 0;
  list-style-type: none;
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 202px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.photo-post__form {
  display: flex;
  flex-direction: column;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    margin-top: 0;
  }
}

.photo-post__button-settings {
  border: none;
  background-color: inherit;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;

    &--crop {
      left: -51px;
      top: -11px;
      width: 22px;
      height: 22px;
    }

    &--fill {
      left: -52px;
      top: -11px;
      width: 24px;
      height: 22px;
    }

    &--contrast {
      left: -48px;
      top: -8px;
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      left: -92px;
      width: 44px;
      height: 44px;
      top: -22px;
    }

    &--fill {
      left: -92px;
      top: -21px;
      width: 48px;
      height: 43px;
    }

    &--contrast {
      left: -86px;
      top: -16px;
      width: 32px;
      height: 32px;
    }
  }
}

.photo-post__item {
  position: relative;
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    display: flex;

    &:first-child {
      margin-top: 19px;
    }
  }
}

.photo-post__image {
  margin-bottom: 42px;
}

.photo-post__logo {
  @media (min-width: $tablet-width) {
    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
