.photo-post__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
}

.photo-post__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-post {
  background-color: #f2f2f2;
}
