.tariff__table {
  border-collapse: collapse;
}

.tariff__item--name {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.tariff__item--price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.tariff__toggles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariff {
  background-color: #f2f2f2;
}

.tariff__item:not(:first-child) {
  background-color: #ffffff;
}

.tariff__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.tariff__title {
  box-sizing: border-box;
  position: relative;
  background: #283645;
  border: 2px solid #283645;
  border-radius: 1px 0 0 0;
  width: 276px;
  height: 94px;

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 75px;
    padding-left: 22px;
  }
}

.tariff__title:not(:last-child)::before {
  background-color: #f2f2f2;
  position: absolute;
  content: "";
  width: 2px;
  height: 81px;
  top: -2px;
  right: -2px;
}

.tariff__title:nth-child(3)::after {
  content: "";
  position: absolute;
  background-image: url("../img/hit.svg");
  width: 61px;
  height: 61px;
  top: -2px;
  left: 0;
}

.tariff__price--hit {
  position: relative;
}

.tariff__price--hit::before {
  position: absolute;
  content: "хит";
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  transform: rotate(-45deg);
  top: -30px;
  left: -11px;
  z-index: 2;
}
