@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../source/fonts/opensans.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../source/fonts/opensansbold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../source/fonts/opensanslight.woff2");
  font-display: swap;
}

.page__body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  align-items: center;
  text-align: center;
  margin: 0;
}
