.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #d22856;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
