.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #283645;
  margin-bottom: 11px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 18px;
  text-decoration: none;
  color: #d22856;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #283645;
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item.phone {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-right: 97px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.contacts__item.email {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.contacts__item.addres {
  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.contacts__item.address .contacts__link {
  width: 213px;
  line-height: 33px;
}
