.advantages__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  background-color: #ffffff;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f2f2f2;
}
