.advantages {
  position: relative;
  z-index: -1;
}

.advantages__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  background-color: #ffffff;

  &:first-of-type {
    margin-top: 46px;
    margin-bottom: 18px;
  }

  &:last-of-type {
    margin-bottom: 65px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;

    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 83px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    position: relative;
    z-index: -2;

    &:first-of-type {
      margin-top: 62px;
    }

    &:last-of-type {
      margin-bottom: 151px;
    }
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 11px;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    background-color: #f2f2f2;
    padding-top: 59px;
    position: relative;
    z-index: 1;
    margin-bottom: 19px;
  }
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 252px;
    padding-left: 23px;
  }
}

.advantages__list {
  position: relative;
  padding: 20px 20px 0 20px;
  list-style-type: none;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    text-align: left;
    width: 660px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/no-retina/tablet/index/screen-3-tablet-no-retina.jpg"), url("../img/no-retina/tablet/index/phone-gold-tablet-no-retina.png");
      background-repeat: no-repeat;
      background-size: 237px 421px, 268px 547px;
      background-position: 15px 61px, 0 0;
      width: 268px;
      height: 547px;
      right: 372px;
      bottom: -63px;
      z-index: 2;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../img/retina/tablet/index/screen-3-tablet-retina.jpg"), url("../img/retina/tablet/index/phone-gold-tablet-retina.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 0;
    width: 1200px;

    &::before {
      content: none;
    }
  }
}

.advantages__item {
  position: relative;

  &:not(:first-child) {
    margin-top: 32px;
  }

  &:first-child {
    margin-top: 24px;
  }

  &:last-child {
    padding-bottom: 325px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/3;

    &:last-child {
      padding-bottom: 49px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    text-align: center;

    &:not(:first-child) {
      margin: 0;
    }

    &:first-child {
      margin: 0 10px 0 0;
    }

    &:nth-child(2) {
      margin-right: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      background-repeat: no-repeat;
      filter: blur(4px);
      width: 300px;
      height: 8px;
      top: -8px;
      left: 0;
    }
  }
}

.advantages__item:first-child::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/no-retina/desktop/index/screen-1-desktop-no-retina.jpg"), url("../img/no-retina/desktop/index/phone-gold-desktop-no-retina.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 165px 294px, 186px 382px;
    top: -307px;
    width: 186px;
    height: 382px;
    left: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/screen-1-desktop-retina.jpg"), url("../img/retina/desktop/index/phone-gold-desktop-retina.png");
    }
  }
}

.advantages__item:nth-child(2)::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/no-retina/desktop/index/screen-2-desktop-no-retina.jpg"), url("../img/no-retina/desktop/index/phone-gold-desktop-no-retina.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 165px 294px, 186px 382px;
    top: -307px;
    width: 186px;
    height: 382px;
    left: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/screen-2-desktop-retina.jpg"), url("../img/retina/desktop/index/phone-gold-desktop-retina.png");
    }
  }
}

.advantages__item:last-child::before {
  content: "";
  position: absolute;
  background-image: url("../img/no-retina/mobile/index/screen-3-mobile-no-retina.jpg"), url("../img/no-retina/mobile/index/phone-gold-mobile-no-retina.png");
  background-size: 136px 245px, 157px 320px;
  background-repeat: no-repeat;
  width: 157px;
  height: 320px;
  background-position: center;
  left: 50%;
  margin-left: -78px;
  top: 144px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/retina/mobile/index/screen-3-mobile-retina.jpg"), url("../img/retina/mobile/index/phone-gold-mobile-retina.png");
  }

  @media (min-width: $tablet-width) {
    content: none;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: url("../img/no-retina/desktop/index/screen-3-desktop-no-retina.jpg"), url("../img/no-retina/desktop/index/phone-gold-desktop-no-retina.png");
    background-size: 165px 294px, 186px 382px;
    top: -307px;
    width: 186px;
    height: 382px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/screen-3-desktop-retina.jpg"), url("../img/retina/desktop/index/phone-gold-desktop-retina.png");
    }
  }
}

.advantages__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__title br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__wrapper-for-list {
  position: relative;
  background-color: #f2f2f2;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 33px;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0) 50%, #f2f2f2 50%);
    top: -32px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 204px;

    &::after {
      min-height: 52px;
      top: -51px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      min-height: 103px;
      top: -102px;
      z-index: -1;
    }
  }
}
