.reviews {
  position: relative;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 126px;
  }
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  display: block;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 13px;
  }
}

.reviews__author-name-more {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
  }
}

.reviews__toggles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 43px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-top: 21px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: 0;
    width: 688px;
  }
}

.reviews__slider {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    top: 213px;

    &:first-child {
      margin-right: 896px;
    }
  }
}

.reviews__comment {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__toggles-item:not(:last-child) {
  margin-right: 13px;
}

.reviews__button {
  width: 22px;
  height: 41px;
  position: relative;
  border: none;
  background-color: #ffffff;

  &:hover::before,
  &:hover::after {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(40, 54, 69, 0.1);
  }

  &--prev {
    margin-right: 896px;
  }

  &--prev::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.3);
    transform: rotate(-45deg);
    left: -4px;
    top: 10px;
    border-radius: 20px;
  }

  &--prev::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.3);
    transform: rotate(45deg);
    left: -2px;
    bottom: 9px;
    border-radius: 20px;
  }

  &--next::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.3);
    transform: rotate(-45deg);
    right: -2px;
    bottom: 9px;
    border-radius: 20px;
  }

  &--next::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.3);
    transform: rotate(45deg);
    right: -2px;
    top: 9px;
    border-radius: 20px;
  }
}
