.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.reviews__author-name-more {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__toggles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
