.reviews {
  background-color: #ffffff;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  display: block;
  font-style: normal;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-name-more {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 50px;
}

.reviews__toggles-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-top: 21px;
}

.reviews__slider {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.reviews__comment {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__toggles-item:not(:last-child) {
  margin-right: 13px;
}
