.main-form__title {
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin: 0;
  margin-top: -66px;
  min-height: 237px;
  padding: 102px 46px 0 46px;
  box-sizing: border-box;
  background-image: url("../img/no-retina/mobile/index/back-mobile-no-retina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/retina/mobile/index/back-mobile-retina.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/no-retina/tablet/index/back-tablet-no-retina.jpg");
    margin-top: -110px;
    min-height: 440px;
    min-width: 660px;
    padding-top: 177px;
    font-size: 50px;
    line-height: 68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/tablet/index/back-tablet-retina.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/no-retina/desktop/index/back-desktop-no-retina.jpg");
    min-height: 394px;
    padding: 167px 117px 0 117px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/desktop/index/back-desktop-retina.jpg");
    }
  }
}

.main-form__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-top: 54px;
  padding: 0 20px 0 20px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 85px;
    margin-top: 90px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 201px;
  }
}

.main-form__text span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #283645;
  }
}
